    <div class="flex  ">
      <Link class="hover:opacity-80" href="https://github.com/tuananh131001"
        <AiFillGithub size={40}></AiFillGithub>
      </Link>
      <Link class="hover:opacity-80" href="https://linkedin.com/in/tuananh131001/">
        <AiFillLinkedin size={40}></AiFillLinkedin>
      </Link>
    </div>