<div class="card join-item lg:card-side bg-base-100 shadow-xl">
  <figure>
    <img
      src="https://daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg"
      alt="Album"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title"><%= @article.title %></h2>
    <p>Click the button to listen on Spotiwhy app.</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary"><%= link_to "View", @article %></button>
    </div>
  </div>
</div>
